/* Taken from allisonhorst.github.io & lizawood.github.io*/
/*-- scss:defaults --*/

//Colors
$white: #FFFFFF;
$purpleblue: #6600FF;
$bluegrey: #CCCCFF;
$almostblack: #333300;
$gray: #949799;
$lightgray: #E5E5E5;
$blue: #0000FF;


// Base document colors
$navbar-bg: $purpleblue; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $lightgray; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $almostblack; // page text 
$footer-bg: $lightgray; // footer 
$link-color: $blue; // hyperlinks 

// Inline code
$code-bg: $lightgray; // inline code background color
$code-color: $almostblack; // inline code text color

// Code blocks
$code-block-bg: $white; // code block background color

h1 {
  text-align: center;
  color: $darkbluegreen
}

h2 {
  color: $purpleblue;
}

div.quarto-about-trestles .about-entity .about-link {
    color: #fcf9f4 !important;
    text-decoration: none;
    border: none; 
    background-color: #6600FF;
}

.navbar-title {
  font-family: Jost;
}

h1.title, .title.h1 {
    font-family: Jost;
    font-size: 2.5em;
}